* {
 margin: 0;
 padding: 0;
 font-family: sans-serif;
}

html, body {
 display: grid;
 height: 100%;
 background: rgb(10, 10, 10);
 place-items: center;
 
}
.wrapper {
 height: 100px;
 width: 360px;
 background: red;
 cursor: default;
 border-radius: 10px;
 background: linear-gradient(360deg, #14ffe9, #ffe9, #ffeb3b, #ff00e0);
 animation: animate 1.5s linear infinite;

}
.wrapper .display,
.wrapper span {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.wrapper .display {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 999;
 background: rgb(0, 0, 0);
 height: 90px;
 width: 345px;
 border-radius: 10px;
 text-align: center;
}

.wrapper .display #time {
 line-height: 85px;
 color: #fff;
 font-size: 50px;
 letter-spacing: 1px;
 background: linear-gradient(360deg, #14ffe9, #ffe9, #ffeb3b, #ff00e0);
 animation: animate 1.5s linear infinite;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;

}
@keyframes animate {
 100% {
  filter: hue-rotate(360deg);
 }
}
.wrapper span {
 height: 100%;
 width: 100%;
 background: inherit;
 border-radius: 10px;
}
.wrapper span:first-child{
 filter: blur(10px)
}
.wrapper span:last-child{
 filter: blur(20px)
}